
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.Grid-Container{
border: blue 2px solid;
display: grid;
grid-template-columns: 150px 150px 150px;
grid-template-rows: 99px 80px 150px;
row-gap: 50px;
column-gap: 20px;
}

.Grid-Item{
border: solid blue 2px
}

.uno{
grid-column: 1/6;
}

.dos{
    grid-column: 1/6;
    background-color: rgb(241, 234, 234);
    
}

.tres{
        grid-column: 3/4;

}

.cuatro{
    grid-column: 4/5;
}

.cinco{
    grid-column: 2/3;
}

.seis{
    grid-column: 4/5;
}

body{background-color: white ;
}

.tres div img{
width: 150px;
height: 150px;
}

Header{
 border-bottom: 5px solid blue;
 display: flex;
 background-color: lightblue;
 justify-content: center;
 align-items: center;
}

header img{
    /* ancho */
    width: 130px;
    /*alto*/
    height: 90px;
    border: 2px solid blue;
    border-radius: 5px;
    /*margin*/
   
    align-self: first baseline;
 } 

 header nav ul{
    display: flex;
    list-style-type: none;
    
 }

header nav ul li a{
   /* propiedades para modificar el contenido de mi etiqueta */
   display: flex;
   list-style-type: none;
    background-color: rgb(0, 147, 221);
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    border-bottom: 2PX SOLID black;
    border-left: 2PX SOLID black;
    border-top: 2PX SOLID black;
    border-right: 2PX SOLID black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    position: sticky;
    
}

ul li{
   justify-content: center;
   align-items: center;
}

li a:hover{
color: black;
}

h1{ 
    color: rgb(0, 147, 221);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.Nosotros{color:rgb(10, 10, 87);
}

p span{ color: rgb(1, 88, 8);
}



footer{

   color: blue;
   text-decoration:none;
   font-size: 15px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 500;
   font-style: initial;
}

    /* flex */
    section{
    display: flex;
    /*flex wrap*/ /*que no desborde el body*/
    flex-wrap: wrap;
  }
    /*flex direction*/
   
    /*flex flow mezclo wrap y direction en la misma*/

   
#section-description{
    display: flex;
    /*flex wrap*/ /*que no desborde el body*/
    flex-wrap: wrap;

}



